<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID" version="3.0"
         xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <!-- Session -->
    <filter>
        <filter-name>springSessionRepositoryFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSessionRepositoryFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>
            com.tzsw.plat.webcontroller.EncodingFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- <servlet> <servlet-name>initServlet</servlet-name> <servlet-class>
        主控类 com.tzsw.plat.webcontroller.MainServlet </servlet-class> <init-param>
        <param-name>wl-dispatch-policy</param-name> <param-value>servletQueue</param-value>
        </init-param> <load-on-startup>1</load-on-startup> </servlet> -->

    <!-- 添加其它xml配置 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>com.tzsw.apps.config.listener.MyServletContextListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>spring-mvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!-- 默认：[servlet-name]-servlet.xml -->
        <!-- 通过初始化参数，指定xml文件的位置 -->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:applicationContext-mvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>spring-mvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <!-- 项目监听器 start -->
    <listener>
        <listener-class>
            com.tzsw.plat.webcontroller.SessionListener
        </listener-class>
    </listener>
    <!-- 项目监听器 end -->

    <!-- Http会话监听器 -->
    <listener>
        <listener-class>com.tzsw.core.asset.TZHttpSessionListener</listener-class>
    </listener>


    <!--错误跳转页面 -->
    <!-- <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error/throwable</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/views/error/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/views/error/500.jsp</location>
    </error-page> -->

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
