.mainPage {
    margin-top: 25px;
/*     background-color: #2CCAE7; */
}

.myHead {
    cursor: pointer;
    margin-top: 30px;
}

.myHead p {
    color: #fff;
    font-size: 19px;
}

.myHead p.eng {
    color: #fff;
    font-size: 12px;
    letter-spacing: 6px;
}

.myFoot {
    margin-top: 25px;
}

.myFoot p {
    color: #6F6F71;
    text-align: center;
/*     margin-bottom: 10px; */
}

.myFoot p span {
    margin-right: 20px;
}

.hblock {
    float: left;
}

.leftHead {
    background-color: #39B5E3;
    height: 76px;
}

.leftMiddle {
    height: 85px;
    background-color: #1A9CCC;
}

.leftFoot {
    position: relative;
    height: 320px;
}

.leftx {
    width: 29%;
}

.middle {
    width: 48%;
    margin: 0 8px 0 12px;
}

.rightx {
    position: relative;
    width: 20%;
    height: 480px;
}

.yourPic {
    float: left;
    background-color: #fff;
    width: 76px;
    height: 76px;
}

.mylogin {
    float: left;
    height: 76px;
    line-height: 76px;
    width: 217px;
    color: #fff;
    font-size: 14px;
    position: relative;
}

.mylogin span {
    float: left;
}

.mylogin span:first-child {
    margin-left: 20px;
    max-width: 85px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mylogin div {
    position: absolute;
    right: 16px;
    top: 28px;
    cursor: pointer;
    width: 16px;
    height: 17px;
    background: url("../images/welcome2/logdout.png") no-repeat;
}

.leftMiddle div {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    line-height: 77px;
}

.leftMiddle div span {
    color: #fff;
    padding: 0 30px;
}

.leftFootCon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.leftFootCon > ul {
    float: left;
    width: 50%;
    text-align: center;
    padding: 30px 0;
}

.leftFootCon > ul li:first-child {
    width: 136px;
    height: 41px;
    margin: 0 auto;
    line-height: 41px;
}

.qdBack, .qtBack {
    color: #7ED4F0;
    background: url("../images/welcome2/qdOut.png");
}

.qdTime, .qtTime {
    padding: 10px 0;
}

.otherInfo {
    padding: 5px;
}

.otherInfo p {
    padding: 10px;
    color: #57778E;
}

.otherInfo ul {
    margin-top: 10px;
    width: 100%;
}

.otherInfo li span {
    color: #30CAE4;
    font-size: 20px;
    padding: 0 15px;
}

.otherInfo ul li {
    float: left;
    width: 33.3%;
    text-align: center;
    color: #79D8EE;
}

.middleTop {
    height: 170px;
    background-color: #fff;
}

.middleMiddle {
    margin-top: 10px;
    height: 100px;
}

.middleBottom {
    margin-top: 10px;
}

.middleTop > img {
    margin: 22px 16px;
    float: left;
    width: 90px;
    /*background: url("../images/welcome2/infoCenter.jpg") no-repeat;*/
}

.middleTop > ul {
    float: right;
    margin-top: 20px;
}

.middleTop > ul li {
    width: 400px;
    height: 40px;
    line-height: 40px;
    background: url("../images/welcome2/yellowO.jpg") no-repeat left;
    padding-left: 20px;
    color: #767877;
    border-top: 1px solid #F2F3F5;
}

.middleTop > ul li:first-child {
    border-top: 0;
}

.middleTop > ul li i {
    float: right;
    padding-right: 10px;
}

.middleTop > ul li span {
    float: left;
    width: 280px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.middleMiddle div {
    width: 258px;
    height: 100px;
}

.email {
    position: relative;
    float: left;
}

.email p {
    position: absolute;
    top: 34px;
    left: 80px;
    color: #FEE7E0;
}

.email p span {
    color: #fff;
    font-size: 20px;
    padding: 0 5px;
    text-decoration: underline;
    cursor: pointer;
}

.email p span:hover {
    color: #ddd;
}

.middleMiddle .contact {
    float: right;
}

.middleMiddle img {
    width: 100%;
    height: 100%;
}

.rightx > img {
    width: 100%;
    height: 100%;
}

.middleBottom div {
    width: 258px;
    height: 190px;
}

.middleBottom > div > img {
    width: 100%;
    height: 100%;
}

.middleBottom .middleBottomys {
    position: relative;
    float: left;
}

.dbsxCon, .downloadCon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.dbsxCon ul:first-child, .downloadCon ul:first-child {
    margin-top: 10px;
    height: 40px;
}

.dbsxHead, .downloadHead {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    padding-left: 15px;
    border-left: 5px solid #31C9E8;
    float: left;
}

.dbsxFy, .downloadFy {
    float: right;

}

.middleBottom .download {
    float: right;
}

.leftFoot > img {
    width: 100%;
    height: 100%;
}

.pagelf {
    cursor:pointer;
    display: inline-block;
    width: 6px;
    height: 11px;
    background: url("../images/welcome2/leftIcon1.png") no-repeat;
}

.pagert {
    cursor:pointer;
    display: inline-block;
    width: 6px;
    height: 11px;
    background: url("../images/welcome2/rightIcon2.png") no-repeat;
}

.numberPage {
    color: #55BACE;
    padding: 0 15px;
}

.dbsxList li {
    position: relative;
    padding: 6px 0 6px 10px;
    margin-left: 10px;
    border-left: 1px solid #F7F7F7;
}

.dbsxList li {
    color: #7B7B7B;
}

.dbsxList li i {
    color: #f00;
}

.dbsxList li.active i {
    color: #6FADBD;
}

.dbsxList li div {
    width: 9px;
    height: 9px;
    position: absolute;
    left: -5px;
    top: 12px;
    background: url("../images/welcome2/outPoint.png");
}

.dbsxList li.active div {
    background: url("../images/welcome2/onPoint.png");
}

.dbsxList li.active {
    color: #6FADBD;
}

.downloadList li {
    position: relative;
    padding: 6px 10px 6px 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.downloadList li {
    color: #AEAEAE;
    width: 217px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.downloadList li.active i {
    color: #858585;
}

.downloadList li div {
    width: 11px;
    height: 15px;
    position: absolute;
    right: 0;
    top: 9px;
    background: url("../images/welcome2/downloadNot.png");
}

.downloadList li.active div {
    background: url("../images/welcome2/downloadCan.png");
}

.List {
    width: 87px;
    height: 79px;
    text-align: center;
    background: url("../images/welcome2/officeLogo.png") no-repeat;
    position: absolute;
    top: -15px;
    left: 24px;
    z-index: 1;
}

.List p {
    color: #fff;
}

.List .title {
    margin-top: 13px;
    font-size: 21px;
}

.ListDetail {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 90px;
    left: 0;
}

.ListDetail li {
    text-align: center;
    float: left;
    width: 50%;
    margin-bottom: 30px;
}
#myModal .form-group{
    height:65px;
}
.modal-body{
    padding-bottom:5px;
}