.icon-excel {
	background: url(../icons/excel.png) no-repeat center;
}

.icon-excelAll {
	background: url(../icons/excelall.png) no-repeat center;
}

.icon-dustbin {
	background: url(../icons/dustbin.png) no-repeat;
}

.icon-emailnew {
	background: url(../icons/emailnew.png) no-repeat;
}

.icon-emailopen {
	background: url(../icons/emailopen.png) no-repeat;
}